<header>
    <div class="container header">
      <div class="row">
            <div class="title">
              <h2>
                  Razor
              </h2>
            </div>
          
              <div class="menu-icon">
                <button type="button" class="btn btn-navbar"
               data-toggle="collapse" data-target=".nav-collapse">
                  <h3>Menu</h3>
                  <div class="spans">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
              </button>
              </div>
      </div>
    </div>
    </header>