.ml-120 {
  margin-left: 120px;
}

.mr-120 {
  margin-right: 120px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-150 {
  margin-top: 150px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-150 {
  margin-bottom: 150px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
}

header {
  margin: 0;
  padding: 0;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 80px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
}
header h2 {
  font-size: 28px;
  font-weight: 600;
  color: #0D0D12;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 50%;
}

.menu-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  flex-wrap: nowrap;
  flex-direction: row;
}
.menu-icon h3 {
  font-size: 20px;
  font-weight: 400;
  color: #111011;
}

.spans {
  display: flex;
  flex-direction: column;
}

.spans > * + * {
  margin-top: 7px;
}

span {
  width: 21px;
  height: 2px;
  background-color: #000;
}

.future {
  display: flex;
}
.future-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.future-left h1 {
  font-size: 110px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #202020;
  margin-bottom: 32px;
}
.future-left p {
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: -0.02em;
  color: rgba(32, 32, 32, 0.85);
  margin-bottom: 40px;
  padding-right: 150px;
}
.future-btn {
  width: 135px;
  height: 48px;
  font-weight: 500;
  color: #fff;
  background-color: #202020;
  border-radius: 200px;
  border: none;
}
.future img {
  width: 628px;
  height: 628px;
}

.features h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 110%;
  color: #202020;
  padding-top: 25px;
}
.features p {
  color: rgba(32, 32, 32, 0.6509803922);
}
.features a {
  color: #202020;
  letter-spacing: -0.01em;
  text-decoration: none;
}
.features-top {
  margin-bottom: 60px;
}
.features-top h3 {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: rgba(32, 32, 32, 0.6);
}
.features-top h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #202020;
  margin-top: 12px;
  margin-bottom: 20px;
}
.features-top p {
  color: rgba(32, 32, 32, 0.6980392157);
  line-height: 160%;
}
.features-link {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}
.features-link img {
  display: flex;
  justify-content: flex-end;
  padding-left: 6px;
}

.video {
  display: flex;
  justify-content: center;
}
.video-cont {
  position: relative;
}
.video-cont .papper {
  width: 90vw;
}
.video-cont .polygon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
}

.portfolio h3 {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: rgba(32, 32, 32, 0.6);
  margin: 0;
}
.portfolio h2 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #0D0D12;
  margin: 0;
}
.portfolio p {
  line-height: 160%;
  color: rgba(32, 32, 32, 0.6980392157);
  margin: 20px 0;
}
.portfolio-btn {
  width: 142px;
  height: 53px;
  border: 1px solid #000;
  border-radius: 49px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 12px;
}

.portfolio-photo {
  display: flex;
}
.portfolio-photo-card {
  position: relative;
}
.portfolio-photo-card h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 108%;
  color: #fff;
}
.portfolio-photo-card p {
  color: rgba(255, 255, 255, 0.8);
}
.portfolio-photo-card-text {
  position: absolute;
  bottom: 1.2rem;
  left: 1.2rem;
}

footer h3 {
  padding-bottom: 20px;
  color: #0D0D12;
  font-size: 28px;
  letter-spacing: -0.03em;
}
footer h4 {
  font-size: 17px;
  font-weight: 600;
  color: #202020;
  margin-bottom: 28px;
}
footer-btn {
  width: 251px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
footer-news h4 {
  margin-bottom: 24px;
}
footer-news form {
  width: 251px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 200px;
}
footer-news form .email {
  position: relative;
  width: 251px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
footer .link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .link a {
  font-size: 15px;
  color: rgba(32, 32, 32, 0.6980392157);
  text-decoration: none;
}

.email-cont {
  position: relative;
}
.email-cont button {
  top: 20%;
  right: 20%;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
}
.email-cont button img {
  width: 32px;
  height: 32px;
}
.email-cont input {
  padding-left: 22px;
  outline: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 251px;
  height: 56px;
  border-radius: 200px;
}

.footer-cont {
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
  width: 100%;
  padding: 0 0 80px 0;
  margin: 0 0 32px 0;
}

.footer-down {
  display: flex;
  justify-content: center;
  color: rgba(32, 32, 32, 0.5019607843);
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
